
@{
    ViewBag.Title = "Index";
}

@{
    string nombre = "Hugo";
    string apellido = "torrico";
    int edad = 20;
}

@nombre
<br />
@apellido
<br />
@edad


@if (edad > 18)
{
    <h2>Es Mayor de Edad</h2>
}
else
{
    <h2>Es Menor de Edad</h2>
}

@for (int i = 0; i < 20; i++)
{
    <h2>@nombre</h2>
    
}

